@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--gradient: #001d3d;
		--background: 225 100% 98.24%;
		--foreground: 225 10% 0.48%;

		--muted: 225 10% 91.2%;
		--muted-foreground: 225 5% 41.2%;

		--popover: 225 13% 93.84%;
		--popover-foreground: 225 10% 0.6%;

		--card: 225 40% 93.84%;
		--card-foreground: 225 10% 0.6%;

		--border: 225 15% 86%;
		--input: 225 15% 89.48%;

		--primary: 225 100% 12%;
		--primary-foreground: 225 2% 91.2%;

		--secondary: 225 22% 84.16%;
		--secondary-foreground: 225 7% 11.2%;

		--accent: 225 22% 84.16%;
		--accent-foreground: 225 7% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--ring: 208 96% 20%;

		--radius: 0.5rem;

		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}

	.dark {
		--gradient: #1488cc;

		--background-lighter: 210 10% 15%;
		--background: 210 10% 10.5%;
		--background-darker: 210 10% 8%;
		--background-darkest: 210 10% 5%;
		--foreground: 215 8.2% 97.2%;

		--muted: 215 41% 13.2%;
		--muted-foreground: 215 8.2% 54.4%;

		--popover: 215 48.6% 5.72%;
		--popover-foreground: 215 8.2% 97.2%;

		--card: 210 10% 15%;
		--card-foreground: 215 8.2% 97.2%;

		--border: 210 10% 20%;
		--input: 210 10% 20%;

		--primary: 215 82% 44%;
		--primary-foreground: 215 8.2% 97.2%;

		--secondary: 215 41% 13.2%;
		--secondary-foreground: 215 8.2% 97.2%;

		--accent: 215 41% 13.2%;
		--accent-foreground: 215 8.2% 97.2%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 215 8.2% 97.2%;

		--ring: 210 2% 44%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}


#navbar-style {
  backdrop-filter: blur(10px);
  background-opacity: 0.8;
}

